<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{% block title %}My Crazy Website {% endblock%}</title>
  </head>

  <body>

  {% block content %}
 <nav class="navbar navbar-expand-lg navbar-light bg-light">




<! doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CrazySite Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg- light">
    <a class="navbar-brand" href="{% url 'home' %}">CrazySite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">

  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Dashboard' %}">My Crazy Website</a>
      <a class="nav-link" href="{% url 'home' %}">DashBoard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id=" navbarSupportedContent">
      <ul class="navbar-nav me-auto mb- 5mb-lg-0">

       <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">Home</a>
     <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Account</a>
        </li><li class="nav-item"><a class="nav-link" href="{% url 'add_post' %}">AddPostView </a>
        </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'article_details' %}">Article </a> </li>
      </ul>
          <li>
                        <a class="nav-link click-scroll" href="{%  url 'index' %}">Upload</a>
                        </li>
           <br/>
               <hr>
         </div>
z
    <div class="container">

  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <h1>Welcome to CrazySite</h1>
        <p> Watch your favorite movies and TV shows anytime, anywhere.</p>
        <a href=" {% url 'login'  %}" class="btn btn-primary">Get Started</a>
      </div>
      <div class="col-lg-6">
 </div>
        <div class="col-lg-0">

<iframe width="1050" height="400" src="https://www.youtube.com/embed/d95PPykB2vE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>

<!--     background-color: #080710;-->
 <u>
   this is MAIN portal
 </u>
 <div class="container">
<p>

It demonstrates the significance of movies in our lives. Humans are readily manipulated by them and given the desired impression by movies. This is the cause of certain films being outlawed and others facing fierce opposition. Overall, I think they are good and that people could benefit from learning from them.



</p>
  </div>

<!--        <img src="https://placeimg.com/400/200/tech" alt="Netflix Banner" class="img-fluid">-->
      </div>
        <hr>
         <div class="container mt-5">
        <div class="col-lg-0">
<iframe width="300" height="150" src="https://www.youtube.com/embed/MiyIyPbg6mM" title="YouTube video player" frameborder="25 px" position="middle" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>
 <u>
   this is  Business portal
 </u>



</p>

      </div>
 <div class="col-lg-0">


<iframe width="300" height="150" src="https://www.youtube.com/embed/zVu9CAVt0Qw" title="YouTube video player" frameborder="25 px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>
 <u>
   this is flower  portal
 </u>



</p>




  </div><div>
        <iframe width="300" height="150" src="https://www.youtube.com/embed/MWg8ZjXUJEk" title="YouTube video player" position=bottom frameborder= "25 px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>
 <u>
   this is custom portal
 </u>



</p>


    </div>
  </div>

   <div>





       <p>



The best form of pleasure, movies also serve as great teachers, and we can learn a lot from them. Because they display everything, we get to decide if it’s a good habit or a bad one. I can state that it has had a significant impact on us and that both we and our society are clearly affected by it. We all enjoy seeing movies and find it difficult to picture life without theatres.

It shows that movies play a very important role in our life. People easily get the effect with them and get manipulated with movies. This is the reason why some movies get banned and some of them are strongly opposed. Overall, I can that they are good and one should really learn from them










        <div class="col-lg-0">

<iframe width="1050" height="400" src="https://www.youtube.com/embed/d95PPykB2vE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>

<!--     background-color: #080710;-->
 <u>
   this is MAIN portal
 </u>
 <div class="container">
<p>

It demonstrates the significance of movies in our lives. Humans are readily manipulated by them and given the desired impression by movies. This is the cause of certain films being outlawed and others facing fierce opposition. Overall, I think they are good and that people could benefit from learning from them.



</p>
  </div>

<!--        <img src="https://placeimg.com/400/200/tech" alt="Netflix Banner" class="img-fluid">-->
      </div>
        <hr>
         <div class="container mt-5">
        <div class="col-lg-0">
<iframe width="300" height="150" src="https://www.youtube.com/embed/MiyIyPbg6mM" title="YouTube video player" frameborder="25 px" position="middle" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>
 <u>
   this is  Business portal
 </u>



</p>

      </div>
 <div class="col-lg-0">


<iframe width="300" height="150" src="https://www.youtube.com/embed/zVu9CAVt0Qw" title="YouTube video player" frameborder="25 px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>
 <u>
   this is flower  portal
 </u>



</p>




  </div><div>
        <iframe width="300" height="150" src="https://www.youtube.com/embed/MWg8ZjXUJEk" title="YouTube video player" position=bottom frameborder= "25 px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>
 <u>
   this is custom portal
 </u>
</p>



 {%   endblock %}
    </div>
  </div>

      </div>

























<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>CrazySite Homepage</title>-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg- light">-->
<!--    <a class="navbar-brand" href="#">CrazySite</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id=" navbarNav">-->
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item">-->

<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="{% url 'Dashboard' %}">My Crazy Website</a>-->
<!--      <a class="nav-link" href="{% url 'Dashboard' %}">DashBoard</a>-->





<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb- 2mb-lg-0">-->

<!-- <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a>-->
<!--     <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Account</a>-->


<!--        </li>-->

<!--          <li class="nav-item"><a class="nav-link" href="{% url 'add_post' %}">AddPostView </a>-->
<!--        </li></ul>-->
<!--           <br/>-->
<!--               <hr>-->
<!--    </div>-->
<!--      </div>-->
