{% extends 'Blog_App/base.html' %}
{% block content %}
<h1> Welcome</h1>
{% block title %}This is Dashboard{% endblock %}
<ul>
    {% for post in object_list %}
    Movies ,videos and Many more.


    Enjoy!!!!!!!!!
    <!--  </li>-->
    <!--    -->

    <!--Life is amazing-->


    <!--<li><a href="{ %  url 'article_details' % }">{{post.title}} </a> - {{post.author.first_name }}-->
    <!--    {{post.author.last_name}} <b>{{post.author.email}} </b> <br/>-->

    <!--    {{post.body}}    {% endfor %} </li>-->

</ul>

{% endblock %}